<!-- Это заголовок первого уровня -->
<h1>Веселые чижи</h1>

<!-- Это курсив внутри абзаца -->
<p>
  <i>С. Маршак и Д. Хармс</i>
</p>
<p>
  <!-- Это абзац. Текст внутри абзаца надо разбить построчно -->
  Жили в квартире<br>
  Сорок четыре<br>
  Сорок четыре<br>
  Веселых чижа:<br>
  <!-- Это маркированный (ненумерованный) список -->
</p>
<ul>
  <li>Чиж-судомойка,</li>
  <li>Чиж-поломойка,</li>
  <li>Чиж-огородник,</li>
  <li>Чиж-водовоз,</li>
  <li>Чиж за кухарку,</li>
  <li>Чиж за хозяйку,</li>
  <li>Чиж на посылках,</li>
  <li>Чиж-трубочист.</li>
</ul>
