{% extends "base.html" %}
{% block title %}
  Анфиса для друзей. Главная
{% endblock %}
{% block content %}
  <h1>Главная страница</h1>

  <!-- При отправке задания на проверку этот фрагмент должен оставаться закомментированным!
  {% for product in products %}
    {% if forloop.first %}
      <h2>Список товаров</h2>
    {% endif %}
    <p>
      <b>
        {{ forloop.counter }}.
      </b>
      {{ product }}
    </p>
    {% if forloop.last %}
      <b>Конец списка товаров</b>
    {% endif %}
    {% empty %}
    <h2>Товары не привезли, магазин пуст!</h2>
  {% endfor %}

  Ниже этого комментария напишите HTML-код, который будет сгенерирован
  из закомментированного фрагмента шаблона и словаря контекста.
  -->



{% endblock %}